h1 {
  color:red;
  text-align: center;
}
p {
  color:white;

}
body {
background-image: url(https://img-www.tf-cdn.com/show/2/stranger-things.jpeg?_v=20160630134408&fit=crop&crop=faces%20top&w=1200&h=630);
}

img {
  display: block;
}

a {
  color: red;
}

h2 {
  color:red;
  text-align: center;
